{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">Dashboard</h2>

<div class="row">

    <div class="col-md-3">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h1>👨‍🎓</h1>
                <h5>Total Students</h5>
                <h3>0</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h1>💰</h1>
                <h5>Fee Collection</h5>
                <h3>KES 0</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h1>👨‍🏫</h1>
                <h5>Teachers</h5>
                <h3>0</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h1>👨‍👩‍👧</h1>
                <h5>Parents</h5>
                <h3>0</h3>
            </div>
        </div>
    </div>

</div>

{% endblock %}